<template id="equipment-info">
  <style>
    @import "./styles-bundle.css";


    div {
      line-height: 13px;
    }

    .disabled {
      height: 100%;
      opacity: 0.4;
      /* Change the color and opacity as needed */
    }

    .group {
      text-decoration: underline;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .purple {
      color: #DC78FF;
    }

    .clickable:hover {
      background-color: #3b3b3b;
      cursor: pointer;
      border-style: solid;
      border-color: black;
      padding: 5px;
    }

    .clickable:hover::after {
      content: ' \270E EDIT';
    }

    dialog {
      background-color: rgb(48, 48, 48);
      color: #fff;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      width: 700px;

    }


    .btn {
      font-size: 14px;
      font-weight: bold;
      color: aliceblue;
      border-style: outset;
      border-width: 3px;
      -webkit-filter: blur(0.3px);
      filter: blur(0.3px);
      margin-left: 2px;
      padding: 2px 15px 5px 15px;
    }

    .btn:hover {
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
    }

    .btn-gray {
      background-image: linear-gradient(#656565, #4a4a4a);
      background-color: #1a2c4d;
      border-top-color: #939393;
      border-bottom-color: #3f3f3f;
      border-left-color: #474747;
      border-right-color: #4e4e4e;
    }

    a:focus-visible {
      border-style: none;
      outline: none;
    }
  </style>
  <div class="tooltip">
    <a name="icon48-anchor" tabindex="220"><img class="icon48"></a>



    <div class="tooltip-text">
      <div class="content">

        <div style="height: 100px; font-size: 14px;">
          <img class="icon96 icon-border" style="margin-right: 10px;">
          <span name="kind"></span>
          &lt; <span class="green" name="level"></span> &gt;<br><br>
          <div data-type="potion">
            <p>Type: <span name="type"></span></p>
            <p>Stack #: <span name="stack"></span>/30</p>
          </div>
        </div>



        <p name="effect"></p>
        <p class="group">Information</p>
        <div name="information" data-type="equipment">
          <p>-Type : <span name="part">${equipment.part}</span></p>
          <p>-Rarity : <span name="rarity">${equipment.rarity}</span></p>
          <p name="isSetKind">-Unique : <span name="setKind">${equipment.setKind}</span>
            <span name="setBonus" class="green">Effect Bonus 0%</span> Equipping <span name="setAmount"
              class="green">0</span> / 8
          </p>

        </div>
        <p class="group" data-type="potion">Equipped Effect</p>
        <div name="equippedEffect" data-type="potion"></div>
        <br>
        <p class="group" data-type="equipment">Effect</p>
        <div name="effects" data-type="equipment">list</div>
        <div name="optionEffects" data-type="equipment"></div>
        <button onclick="this.getRootNode().host.copyEvent();" data-type="equipment" name="copy-optionEffects"
          class="btn btn-gray" style="display: none;">Copy All
          Enchantments</button>

        <br>
        <p class="group" data-type="equipment">Forged Effect</p>
        <div name="forgeEffects" data-type="equipment"></div>
        <br>
        <p class="group" data-type="equipment">Proficiency</p>
        <div name="proficiency" data-type="equipment">
          <p>-Warrior &lt; <span class="green" name="proficiency-level-Warrior">Lv ${level}</span> &gt;: <span
              class="green" name="proficiency-effect-Warrior">[${effect}]</span>
          <p>-Wizard &lt; <span class="green" name="proficiency-level-Wizard">Lv ${level}</span> &gt;: <span
              class="green" name="proficiency-effect-Wizard">[${effect}]</span>
          <p>-Angel &lt; <span class="green" name="proficiency-level-Angel">Lv ${level}</span> &gt;: <span class="green"
              name="proficiency-effect-Angel">[${effect}]</span>
          <p>-Thief &lt; <span class="green" name="proficiency-level-Thief">Lv ${level}</span> &gt;: <span class="green"
              name="proficiency-effect-Thief">[${effect}]</span>
          <p>-Archer &lt; <span class="green" name="proficiency-level-Archer">Lv ${level}</span> &gt;: <span
              class="green" name="proficiency-effect-Archer">[${effect}]</span>
          <p>-Tamer &lt; <span class="green" name="proficiency-level-Tamer">Lv ${level}</span> &gt;: <span class="green"
              name="proficiency-effect-Tamer">[${effect}]</span>
        </div>


      </div>
    </div>

  </div>
  <dialog id="equipment-dialog">
    <h4 name="dialog-title">Title</h4>
    <div name="dialog-content"></div>

    <button class="btn btn-gray" style="float: right;" name="dialog-close">Close</button>





  </dialog>

</template>