<template id="equipment-loadout">
    <style>
        /* @import "./styles-bundle.css"; */
        div {
            margin: 0;
            padding: 0;
        }


        ul {
            display: inline-block;
            margin-bottom: 10px;
            margin-top: 4px;
            margin-left: 0;
            padding: 0;
            font-size: 0;
        }

        li {
            display: inline;
            font-size: 11px;
            background-color: yellowgreen;
            background-image: linear-gradient(#1d3157, #16253f);
            /* width: 310px; */
            margin-left: 0px;
            /* margin-bottom: 50px; */
            padding: 5px 5px 9px 5px;
            background-color: #1a2c4d;
            border-style: outset;
            border-width: 2px;

            border-top-color: #5473ae;
            border-bottom-color: #28457c;
            border-left-color: #1b355d;
            border-right-color: #235cbd;
        }

        .active {
            color: yellow;
        }

        .hidden {
            display: none;
        }

        table.equipment {
            display: inline-block;
        }

        table.equipment td {
            /* background-color: red; */
            border-style: solid;
            border-width: 1px;
            border-color: rgb(143, 0, 0);
            font-size: 11px;
            line-height: 1em;
            padding: 0;
        }

        table.equipment td:hover {
            border-color: #01f304;
            border-style: solid;
            border-width: 1px;
        }
    </style>
    <div>
        <div style="display: flex;">
            <div name="hero" style="display: inline;"></div>

            <ul>
                <li name="loadout0">Loadout 1</li>
                <li name="loadout1">Loadout 2</li>
                <li name="loadout2">Loadout 3</li>
                <li name="loadout3">Loadout 4</li>
                <li name="loadout4">Loadout 5</li>
                <li name="loadout5">Loadout 6</li>
                <li name="loadout6">Loadout 7</li>

            </ul>
        </div>
        <div name="content"></div>

    </div>





</template>