<%= require('html-loader!./ejs/data-tablist.html').default %>
    <h3>Common</h3>
    Total Cleared Mission: <span data-endpoint="misc.ClearedMission"></span><br>

    <h3><img src="./img/nitro.png" class="icon"> Nitro</h3>
    <p style="padding-left: 20px;">
        Speed: <input id="anvil.nitro.speed" type="text" data-endpoint="misc.nitroSpeed"> Grey input will be overwriten
        by Save File Data Import<br>
        Max: <input type="text" data-endpoint="custom.nitroTotal" class="custom"> Green input will be overwriten
        by Save Custom Data Import
    </p>