<%= require('html-loader!./ejs/data-tablist.html').default %>
    <h2>Talisman Data</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Disassembled</th>
                <th scope="col">Effect</th>
            </tr>
        </thead>
        <tr>
            <td>GuildMembersEmblem</td>
            <td><input type='text' data-endpoint='talisman.GuildMembersEmblem.disassembled'></td>
            <td data-endpoint='talisman.GuildMembersEmblem.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>CertificateOfCompetence</td>
            <td><input type='text' data-endpoint='talisman.CertificateOfCompetence.disassembled'></td>
            <td data-endpoint='talisman.CertificateOfCompetence.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>MasonsTrowel</td>
            <td><input type='text' data-endpoint='talisman.MasonsTrowel.disassembled'></td>
            <td data-endpoint='talisman.MasonsTrowel.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>EnchantedAlembic</td>
            <td><input type='text' data-endpoint='talisman.EnchantedAlembic.disassembled'></td>
            <td data-endpoint='talisman.EnchantedAlembic.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>TrackersMap</td>
            <td><input type='text' data-endpoint='talisman.TrackersMap.disassembled'></td>
            <td data-endpoint='talisman.TrackersMap.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>BerserkersStone</td>
            <td><input type='text' data-endpoint='talisman.BerserkersStone.disassembled'></td>
            <td data-endpoint='talisman.BerserkersStone.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>TrappersTag</td>
            <td><input type='text' data-endpoint='talisman.TrappersTag.disassembled'></td>
            <td data-endpoint='talisman.TrappersTag.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>HitanDoll</td>
            <td><input type='text' data-endpoint='talisman.HitanDoll.disassembled'></td>
            <td data-endpoint='talisman.HitanDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>RingoldDoll</td>
            <td><input type='text' data-endpoint='talisman.RingoldDoll.disassembled'></td>
            <td data-endpoint='talisman.RingoldDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>NuttyDoll</td>
            <td><input type='text' data-endpoint='talisman.NuttyDoll.disassembled'></td>
            <td data-endpoint='talisman.NuttyDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>MorkylDoll</td>
            <td><input type='text' data-endpoint='talisman.MorkylDoll.disassembled'></td>
            <td data-endpoint='talisman.MorkylDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>FlorzporbDoll</td>
            <td><input type='text' data-endpoint='talisman.FlorzporbDoll.disassembled'></td>
            <td data-endpoint='talisman.FlorzporbDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>ArachnettaDoll</td>
            <td><input type='text' data-endpoint='talisman.ArachnettaDoll.disassembled'></td>
            <td data-endpoint='talisman.ArachnettaDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>GuardianKorDoll</td>
            <td><input type='text' data-endpoint='talisman.GuardianKorDoll.disassembled'></td>
            <td data-endpoint='talisman.GuardianKorDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>SlimeBadge</td>
            <td><input type='text' data-endpoint='talisman.SlimeBadge.disassembled'></td>
            <td data-endpoint='talisman.SlimeBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>MagicslimeBadge</td>
            <td><input type='text' data-endpoint='talisman.MagicslimeBadge.disassembled'></td>
            <td data-endpoint='talisman.MagicslimeBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>SpiderBadge</td>
            <td><input type='text' data-endpoint='talisman.SpiderBadge.disassembled'></td>
            <td data-endpoint='talisman.SpiderBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>BatBadge</td>
            <td><input type='text' data-endpoint='talisman.BatBadge.disassembled'></td>
            <td data-endpoint='talisman.BatBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>FairyBadge</td>
            <td><input type='text' data-endpoint='talisman.FairyBadge.disassembled'></td>
            <td data-endpoint='talisman.FairyBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>FoxBadge</td>
            <td><input type='text' data-endpoint='talisman.FoxBadge.disassembled'></td>
            <td data-endpoint='talisman.FoxBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>DevilfishBadge</td>
            <td><input type='text' data-endpoint='talisman.DevilfishBadge.disassembled'></td>
            <td data-endpoint='talisman.DevilfishBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>TreantBadge</td>
            <td><input type='text' data-endpoint='talisman.TreantBadge.disassembled'></td>
            <td data-endpoint='talisman.TreantBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>FlametigerBadge</td>
            <td><input type='text' data-endpoint='talisman.FlametigerBadge.disassembled'></td>
            <td data-endpoint='talisman.FlametigerBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>UnicornBadge</td>
            <td><input type='text' data-endpoint='talisman.UnicornBadge.disassembled'></td>
            <td data-endpoint='talisman.UnicornBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>AscendedFromIEH1</td>
            <td><input type='text' data-endpoint='talisman.AscendedFromIEH1.disassembled'></td>
            <td data-endpoint='talisman.AscendedFromIEH1.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>WarriorsBadge</td>
            <td><input type='text' data-endpoint='talisman.WarriorsBadge.disassembled'></td>
            <td data-endpoint='talisman.WarriorsBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>WizardsBadge</td>
            <td><input type='text' data-endpoint='talisman.WizardsBadge.disassembled'></td>
            <td data-endpoint='talisman.WizardsBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>AngelsBadge</td>
            <td><input type='text' data-endpoint='talisman.AngelsBadge.disassembled'></td>
            <td data-endpoint='talisman.AngelsBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>ThiefsBadge</td>
            <td><input type='text' data-endpoint='talisman.ThiefsBadge.disassembled'></td>
            <td data-endpoint='talisman.ThiefsBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>ArchersBadge</td>
            <td><input type='text' data-endpoint='talisman.ArchersBadge.disassembled'></td>
            <td data-endpoint='talisman.ArchersBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>TamersBadge</td>
            <td><input type='text' data-endpoint='talisman.TamersBadge.disassembled'></td>
            <td data-endpoint='talisman.TamersBadge.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>NostroDoll</td>
            <td><input type='text' data-endpoint='talisman.NostroDoll.disassembled'></td>
            <td data-endpoint='talisman.NostroDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>LadyEmeldaDoll</td>
            <td><input type='text' data-endpoint='talisman.LadyEmeldaDoll.disassembled'></td>
            <td data-endpoint='talisman.LadyEmeldaDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>NariSuneDoll</td>
            <td><input type='text' data-endpoint='talisman.NariSuneDoll.disassembled'></td>
            <td data-endpoint='talisman.NariSuneDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>OctobaddieDoll</td>
            <td><input type='text' data-endpoint='talisman.OctobaddieDoll.disassembled'></td>
            <td data-endpoint='talisman.OctobaddieDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>BananoonDoll</td>
            <td><input type='text' data-endpoint='talisman.BananoonDoll.disassembled'></td>
            <td data-endpoint='talisman.BananoonDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>GlorbliorbusDoll</td>
            <td><input type='text' data-endpoint='talisman.GlorbliorbusDoll.disassembled'></td>
            <td data-endpoint='talisman.GlorbliorbusDoll.effect' data-precision='2'></td>
        </tr>
        <tr>
            <td>DistortionSlimeDoll</td>
            <td><input type='text' data-endpoint='talisman.DistortionSlimeDoll.disassembled'></td>
            <td data-endpoint='talisman.DistortionSlimeDoll.effect' data-precision='2'></td>
        </tr>
    </table>