<%= require('html-loader!./ejs/data-tablist.html').default %>
    <h2>Town Data</h2>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Effect</th>
            </tr>
        </thead>
        <tr>
            <td>StatueOfHeroes</td>
            <td><input type='text' data-endpoint='town.StatueOfHeroes.level' size="6"> +30</td>
            <td data-endpoint='town.StatueOfHeroes.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.StatueOfHeroes.research.stone.level' size="6"></td>
            <td data-endpoint='town.StatueOfHeroes.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.StatueOfHeroes.research.crystal.level' size="6"></td>
            <td data-endpoint='town.StatueOfHeroes.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.StatueOfHeroes.research.leaf.level' size="6"></td>
            <td data-endpoint='town.StatueOfHeroes.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>Cartographer</td>
            <td><input type='text' data-endpoint='town.Cartographer.level' size="6"> +30</td>
            <td data-endpoint='town.Cartographer.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.Cartographer.research.stone.level' size="6"></td>
            <td data-endpoint='town.Cartographer.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.Cartographer.research.crystal.level' size="6"></td>
            <td data-endpoint='town.Cartographer.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.Cartographer.research.leaf.level' size="6"></td>
            <td data-endpoint='town.Cartographer.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>AlchemistsHut</td>
            <td><input type='text' data-endpoint='town.AlchemistsHut.level' size="6"> +30</td>
            <td data-endpoint='town.AlchemistsHut.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.AlchemistsHut.research.stone.level' size="6"></td>
            <td data-endpoint='town.AlchemistsHut.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.AlchemistsHut.research.crystal.level' size="6"></td>
            <td data-endpoint='town.AlchemistsHut.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.AlchemistsHut.research.leaf.level' size="6"></td>
            <td data-endpoint='town.AlchemistsHut.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>Blacksmith</td>
            <td><input type='text' data-endpoint='town.Blacksmith.level' size="6"> +30</td>
            <td data-endpoint='town.Blacksmith.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.Blacksmith.research.stone.level' size="6"></td>
            <td data-endpoint='town.Blacksmith.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.Blacksmith.research.crystal.level' size="6"></td>
            <td data-endpoint='town.Blacksmith.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.Blacksmith.research.leaf.level' size="6"></td>
            <td data-endpoint='town.Blacksmith.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>Temple</td>
            <td><input type='text' data-endpoint='town.Temple.level' size="6"> +30</td>
            <td data-endpoint='town.Temple.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.Temple.research.stone.level' size="6"></td>
            <td data-endpoint='town.Temple.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.Temple.research.crystal.level' size="6"></td>
            <td data-endpoint='town.Temple.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.Temple.research.leaf.level' size="6"></td>
            <td data-endpoint='town.Temple.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>Trapper</td>
            <td><input type='text' data-endpoint='town.Trapper.level' size="6"> +30</td>
            <td data-endpoint='town.Trapper.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.Trapper.research.stone.level' size="6"></td>
            <td data-endpoint='town.Trapper.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.Trapper.research.crystal.level' size="6"></td>
            <td data-endpoint='town.Trapper.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.Trapper.research.leaf.level' size="6"></td>
            <td data-endpoint='town.Trapper.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>SlimeBank</td>
            <td><input type='text' data-endpoint='town.SlimeBank.level' size="6"> +30</td>
            <td data-endpoint='town.SlimeBank.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.SlimeBank.research.stone.level' size="6"></td>
            <td data-endpoint='town.SlimeBank.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.SlimeBank.research.crystal.level' size="6"></td>
            <td data-endpoint='town.SlimeBank.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.SlimeBank.research.leaf.level' size="6"></td>
            <td data-endpoint='town.SlimeBank.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>MysticArena</td>
            <td><input type='text' data-endpoint='town.MysticArena.level' size="6"> +30</td>
            <td data-endpoint='town.MysticArena.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.MysticArena.research.stone.level' size="6"></td>
            <td data-endpoint='town.MysticArena.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.MysticArena.research.crystal.level' size="6"></td>
            <td data-endpoint='town.MysticArena.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.MysticArena.research.leaf.level' size="6"></td>
            <td data-endpoint='town.MysticArena.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>ArcaneResearcher</td>
            <td><input type='text' data-endpoint='town.ArcaneResearcher.level' size="6"> +30</td>
            <td data-endpoint='town.ArcaneResearcher.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.ArcaneResearcher.research.stone.level' size="6"></td>
            <td data-endpoint='town.ArcaneResearcher.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.ArcaneResearcher.research.crystal.level' size="6"></td>
            <td data-endpoint='town.ArcaneResearcher.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.ArcaneResearcher.research.leaf.level' size="6"></td>
            <td data-endpoint='town.ArcaneResearcher.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>Tavern</td>
            <td><input type='text' data-endpoint='town.Tavern.level' size="6"> +30</td>
            <td data-endpoint='town.Tavern.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.Tavern.research.stone.level' size="6"></td>
            <td data-endpoint='town.Tavern.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.Tavern.research.crystal.level' size="6"></td>
            <td data-endpoint='town.Tavern.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.Tavern.research.leaf.level' size="6"></td>
            <td data-endpoint='town.Tavern.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>Dojo</td>
            <td><input type='text' data-endpoint='town.Dojo.level' size="6"> +30</td>
            <td data-endpoint='town.Dojo.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.Dojo.research.stone.level' size="6"></td>
            <td data-endpoint='town.Dojo.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.Dojo.research.crystal.level' size="6"></td>
            <td data-endpoint='town.Dojo.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.Dojo.research.leaf.level' size="6"></td>
            <td data-endpoint='town.Dojo.research.leaf.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td>AdventuringParty</td>
            <td><input type='text' data-endpoint='town.AdventuringParty.level' size="6"> +30</td>
            <td data-endpoint='town.AdventuringParty.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/stone.png" class="icon"> Stone Research</td>
            <td><input type='text' data-endpoint='town.AdventuringParty.research.stone.level' size="6"></td>
            <td data-endpoint='town.AdventuringParty.research.stone.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/crystal.png" class="icon"> Crystal Research</td>
            <td><input type='text' data-endpoint='town.AdventuringParty.research.crystal.level' size="6"></td>
            <td data-endpoint='town.AdventuringParty.research.crystal.effect' data-precision='3'></td>
        </tr>
        <tr>
            <td><img src="img/leaf.png" class="icon"> Leaf Research</td>
            <td><input type='text' data-endpoint='town.AdventuringParty.research.leaf.level' size="6"></td>
            <td data-endpoint='town.AdventuringParty.research.leaf.effect' data-precision='3'></td>
        </tr>
    </table>