<%= require('html-loader!./ejs/expedition-tablist.html').default %>
    <div class="container-box" id="expedition-calculator">
        <!-- <div>
<button class="btn btn-blue">Settings</button>

<button class="btn btn-blue">Speed</button>
</div> -->
        <div style="border: 1px #636363 solid" id="expedition-settings">




            <!-- <h3>BESTIARY</h3>
<table class="pet-box">
<tr>
    <td rowspan="3"><img src="img/purpletreant.png"></td>
    <td colspan="2">Purple Treant</td>
    <td>Pet Passive Effect</td>    
</tr> 
<tr>
    <td>Rank: </td> 
    <td><input type="text" value="0" id="pet1Rank" class="input-size-3" maxlength="3"></td> 
    <td>- Expedition EXP Gain <span class="green percent" id="pet1Passive">520.54</span></td> 
</tr>
<tr>
    <td rowspan="2">Loyalty: </td>
    <td><input type="text" value="0" id="pet1Loyalty" class="input-size-3" maxlength="3"></td>     
</tr> 
</table>   -->

            <!-- <tr>
<td>Nitro</td>
<td><form><input id="anvil-nitro-speed" type="number" min="1.5" max="5.0" step="0.1" value="1" onchange="anvilSave(this.id)"></form></td>
</tr> -->


            <table>
                <thead>
                    <tr>
                        <th scope="col" class="tablehead">Team #</th>
                        <th scope="col" class="tablehead">Team Level</th>
                        <th scope="col" class="tablehead">Speed</th>
                        <th scope="col" class="tablehead">Best Duration</th>
                        <th scope="col" class="tablehead">Time to Finish</th>
                    </tr>
                </thead>
                <tr>
                    <td>Team 1</td>
                    <td data-endpoint='expedition.teams[0]'></td>
                    <td data-endpoint='calculator.expedition.teams[team1].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team1].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team1].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 2</td>
                    <td data-endpoint='expedition.teams[1]'></td>
                    <td data-endpoint='calculator.expedition.teams[team2].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team2].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team2].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 3</td>
                    <td data-endpoint='expedition.teams[2]'></td>
                    <td data-endpoint='calculator.expedition.teams[team3].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team3].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team3].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 4</td>
                    <td data-endpoint='expedition.teams[3]'></td>
                    <td data-endpoint='calculator.expedition.teams[team4].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team4].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team4].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 5</td>
                    <td data-endpoint='expedition.teams[4]'></td>
                    <td data-endpoint='calculator.expedition.teams[team5].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team5].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team5].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 6</td>
                    <td data-endpoint='expedition.teams[5]'></td>
                    <td data-endpoint='calculator.expedition.teams[team6].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team6].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team6].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 7</td>
                    <td data-endpoint='expedition.teams[6]'></td>
                    <td data-endpoint='calculator.expedition.teams[team7].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team7].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team7].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 8</td>
                    <td data-endpoint='expedition.teams[7]'></td>
                    <td data-endpoint='calculator.expedition.teams[team8].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team8].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team8].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 9</td>
                    <td data-endpoint='expedition.teams[8]'></td>
                    <td data-endpoint='calculator.expedition.teams[team9].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team9].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team9].timeToFinish' data-type="time"></td>
                </tr>
                <tr>
                    <td>Team 10</td>
                    <td data-endpoint='expedition.teams[9]'></td>
                    <td data-endpoint='calculator.expedition.teams[team10].speed' data-precision='2'></td>
                    <td data-endpoint='calculator.expedition.teams[team10].time' data-type="time-h"></td>
                    <td data-endpoint='calculator.expedition.teams[team10].timeToFinish' data-type="time"></td>
                </tr>
            </table>
        </div>



    </div>