<%= require('html-loader!./ejs/expedition-tablist.html').default %>
    <h3>Expedition Leveling Simulator</h3>
    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td colspan="3" class="tablehead" style='text-align: center;'>Exp/sec per</td>
                <td colspan="3" class="tablehead" style='text-align: center;'>Exp/day</td>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col">Pet</th>
                <th scope="col">Team</th>
                <th scope="col">Total</th>
                <th scope="col">Teams</th>
                <th scope="col">Nitro Sink</th>
                <th scope="col">Total</th>
            </tr>
            <tr>
                <td>Playtime hour per day:</td>
                <td><input data-endpoint="custom.expedition.simulator.playtimeHourPerDay" type="text" class="custom">
                </td>
                <td data-endpoint='calculator.expedition.simulator.expeditionExpPerSec'></td>
                <td data-endpoint='calculator.expedition.simulator.expeditionExpPerSecTeam'></td>
                <td data-endpoint='calculator.expedition.simulator.expeditionExpPerSecTotal'></td>
                <td data-endpoint='calculator.expedition.simulator.expeditionExpPerDay' data-precision='2'></td>
                <td data-endpoint='calculator.expedition.simulator.expeditionExpPerNitroSink' data-precision='2'></td>
                <td data-endpoint='calculator.expedition.simulator.expeditionExpPerDayTotal' data-precision='2'></td>
            </tr>
            <tr>
                <td>Pet per Team:</td>
                <td><input data-endpoint="custom.expedition.simulator.petPerTeam" type="text" class="custom"></td>
            </tr>
            <tr>
                <td>Total Teams:</td>
                <td><input data-endpoint="custom.expedition.simulator.teams" type="text" class="custom"></td>
            </tr>
            <tr>
                <td>Nitro Sink used:</td>
                <td><input data-endpoint="custom.expedition.simulator.nitroSink" type="text" class="custom"></td>
            </tr>
            <tr>
                <td>Current Level:</td>
                <td><input id="expedition-currentLevel" data-endpoint="custom.expedition.simulator.currentLevel"
                        type="text" class="custom"></td>
            </tr>
            <tr>
                <td>Target Level:</td>
                <td><input id="expedition-targetLevel" data-endpoint="custom.expedition.simulator.targetLevel"
                        type="text" class="custom"></td>
            </tr>
    </table>
    <hr>Time per Nitro Sink: <span data-endpoint='calculator.expedition.simulator.nitroTime' data-type="time"
        class="green"></span><br>Required Exp: <span data-endpoint='calculator.expedition.simulator.requiredExp'
        data-precision='2' class="green"></span><br>Calculated time: <span
        data-endpoint='calculator.expedition.simulator.timeSkip' data-type="time" class="green"></span><br>
    <hr>
    <p style="padding-left: 20px;"><img src="./img/nitro.png" class="icon"> Nitro Speed:
        <input id="anvil.nitro.speed" type="text" data-endpoint="misc.nitroSpeed"> Max
        Nitro:
        <input type="text" data-endpoint="custom.nitroTotal" class="custom">
    </p>