<%= require('html-loader!./ejs/summary-tablist.html').default %>
    <table class="pet-box">
        <tr>
            <td rowspan="3"><img src="./img/redflametiger.png"></td>
            <td colspan="2">Red Flametiger</td>
            <td>Pet Passive Effect</td>
        </tr>
        <tr>
            <td>Rank: </td>
            <td><input type="text" data-endpoint="pet.FlameTiger.Red.rank" class="input-size-3 warning" maxlength="3">
            </td>
            <td>- Multiplies Slime Coin Cap by <span class="green" id="pet1Passive"
                    data-endpoint="pet.FlameTiger.Red.effect" data-base="1" data-type="percent"></span></td>
        </tr>
        <tr>
            <td>Loyalty: </td>
            <td><input type="text" data-endpoint="pet.FlameTiger.Red.loyalty" class="input-size-3 warning"
                    maxlength="3">
            </td>
        </tr>
    </table>