<%= require('html-loader!./ejs/summary-tablist.html').default %>
    <table>
        <tr>
            <td>
                <div class="box" style="width: auto;">

                    <p>Slime Coin Cap 1 &lt; <span class="green">Lv</span>
                        <input type="text" class="default-input" id="slimeCoinCap1Level" value="0" size="8"
                            data-endpoint="upgrade.SlimeBank.SlimeCoinCap.level" data-precision="2">
                        &gt;
                    </p>
                    <p>- Effect : Increases Slime Coin Cap</p>
                    <p>&nbsp;- Current: <i id="slimeCoinCap1Value" data-endpoint="upgrade.SlimeBank.SlimeCoinCap.effect"
                            data-precision="2">$value</i></p>
                    <p>- Cost to Level Up: <img class="icon" src="./img/slimecoin.png" width="24"><i
                            id="slimeCoinCap1Cost" data-endpoint="upgrade.SlimeBank.SlimeCoinCap.cost"
                            data-precision="2">$value</i></p>


                </div>
            </td>
            <td>
                <div class="box" style="width: auto;">

                    <p>Slime Coin Cap 2 &lt; <span class="green">Lv</span> <input type="text" id="slimeCoinCap2Level"
                            value="0" class="default-input" size="4"
                            data-endpoint="upgrade.SlimeBank.SlimeCoinCap2.level">
                        &gt;</p>
                    <p>- Effect : Multiplies Slime Coin Cap</p>
                    <p>&nbsp;- Current: <i id="slimeCoinCap2Value"
                            data-endpoint="upgrade.SlimeBank.SlimeCoinCap2.effect" data-precision="2"
                            data-type="percent">$value</i></p>
                    <p>- Cost to Level Up: <img class="icon" src="./img/slimecoin.png" width="24">
                        <i id="slimeCoinCap2Cost" data-endpoint="upgrade.SlimeBank.SlimeCoinCap2.cost"
                            data-precision="2">Unknown</i>
                    </p>


                </div>
            </td>
        </tr>


    </table>