<%= require('html-loader!./ejs/summary-tablist.html').default %>
    <h3>Common</h3>
    <p style="padding-left: 20px;"><img src="./img/nitro.png" class="icon"> Nitro Speed:
        <input id="anvil.nitro.speed" type="text" data-endpoint="misc.nitroSpeed" class="default-input warning"> Max
        Nitro:
        <input type="text" data-endpoint="custom.nitroTotal" class="default-input custom">
    </p>
    <h3>Pet</h3>
    Total Pet Rank: <span style="padding-left: 20px;" data-endpoint="pet.totalRank"></span>