<h1>TEST ZONE</h1>

<%= require('html-loader!./tab3.html').default %>

    <hr>
    reszta pliku

    <!-- <div>
    TEST1 =
    <textarea data-endpoint="equip.Angel.itemList" rows="35" cols="120" spellcheck="false"> </textarea>
    <hr>
    Cost : <span data-endpoint="upgrade.BasicStats.MP.cost" data-precision="2"></span> <br>
    Real: 2.08e101
    <hr>
    GoldGain
    <input type="text" data-endpoint="upgrade.GoldGain.level"><br>
    Cost : <span data-endpoint="upgrade.GoldGain.cost" data-precision="2"></span> <br>
    Real: 149
</div> -->