
# Dependency directories
node_modules/
jspm_packages/
# TypeScript cache
*.tsbuildinfo

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
*-lock.json
.vscode
test/
dist/*.map
dist/runtime.bundle.js
experiment
doc/
tools/
source/
old/