<template id="custom-select">
    <style>
        select {
            font-family: NotoSansBlack;
            /* float: right; */
            /* border: 0 !important;  Removes border */
            -webkit-appearance: none;
            /*Removes default chrome and safari style*/
            -moz-appearance: none;
            /* Removes Default Firefox style*/
            appearance: none;
            background: #797a79 url(img/selectarrow.png) no-repeat 95% center;
            width: auto;
            text-indent: 0.01px;
            line-height: 18px;
            text-overflow: "";
            color: #fff;
            text-align: left;
            font-size: 14px;

            /* letter-spacing: 1.4px; */
            /* font-style: normal; */
            padding-left: 15px;
            /* text-align: center; */
            margin-left: 10px;
            padding-right: 30px;
            height: 30px;
            /* box-shadow: inset 0 0 5px rgba(000,000,000, 0.5); */
            border-style: outset;
            border-width: 2px;
            /* background-color: #797a79; */
            border-top-color: #adadad;
            border-bottom-color: #706f70;
            border-left-color: #666466;
            border-right-color: #6d6f6d;
        }
    </style>
    <select name="input"></select>
</template>