.name {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
}

div {
  font-size: 12px;
}

.a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
  height: 20px;
}

[name="name"] {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.value {
  float: right;
  overflow: visible;
  /* unicode-bidi: bidi-override; */
  direction: rtl;
  /* overflow-x: visible; */
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
[name="value"] {
  float: right;
  unicode-bidi: bidi-override;
  direction: ltr;
  /* background-color: aqua; */
  /* overflow-x: visible; */
}
