<template id="custom-dialog">
    <style>
        div {
            margin: 0;
            padding: 0;
        }


        .hidden {
            display: none;
        }



        .btn {
            font-size: 14px;

            font-weight: bold;
            color: aliceblue;
            border-style: outset;
            border-width: 3px;
            -webkit-filter: blur(0.3px);
            filter: blur(0.3px);
            margin-left: 2px;
            padding: 0px 10px 0px 10px;
        }

        .btn:hover {
            box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
        }

        .btn-blue {
            background-image: linear-gradient(#2b487f, #203860);
            background-color: #2b487f;
            border-top-color: #5476ae;
            border-bottom-color: #202f4e;
            border-left-color: #1b3763;
            border-right-color: #223e6a;
        }

        .btn-gray {
            background-image: linear-gradient(#656565, #4a4a4a);
            background-color: #1a2c4d;
            border-top-color: #939393;
            border-bottom-color: #3f3f3f;
            border-left-color: #474747;
            border-right-color: #4e4e4e;
        }
    </style>

    <div id="popup" style="padding: 0" onmousedown="console.log(this.parentElement, event);">
        <dialog id="dialog" style="padding: 0;">
            <h4 name="dialog-title">Title</h4>
            <div name="dialog-content"></div>

            <button class="btn btn-gray" style="float: right;" name="dialog-close"
                onclick="this.parentElement.close();">Close</button>

            if(event.target === this.parentElement) this.parentElement.close();
            modal.addEventListener("mousedown", function (event) {
            let rect = modal.getBoundingClientRect();
            let isInDialog = rect.top <= event.clientY && event.clientY <=rect.top + rect.height && rect.left
                <=event.clientX && event.clientX <=rect.left + rect.width; //@ts-ignore if (!isInDialog &&
                event.target.tagName==="DIALOG" ) { closeEdit(); } }); </dialog>
    </div>



</template>