<div style="display: flex;">

    <div>
        <h3>Enemy</h3>
        <p>HP: <span name="HP"></span></p>
        <p>DEF: <span name="DEF"></span></p>
        <p>MDEF: <span name="MDEF"></span></p>
        <p>Fire Resistance: <span name="Fire"></span></p>
        <p>Ice Resistance: <span name="Ice"></span></p>
        <p>Thunder Resistance: <span name="Thunder"></span></p>
        <p>Light Resistance: <span name="Light"></span></p>
        <p>Dark Resistance: <span name="Dark"></span></p>
    </div>
    <div style="margin-left: 20px;" name="player">
        <h3>Player</h3>

    </div>
</div>