ul {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 0;
  padding: 0;
  font-size: 0;
}

li {
  display: inline;
  font-size: 14px;
  background-color: yellowgreen;
  background-image: linear-gradient(#1d3157, #16253f);
  /* width: 310px; */
  margin-left: 0px;
  /* margin-bottom: 50px; */
  padding: 6px;
  background-color: #1a2c4d;
  border-style: outset;
  border-width: 2px;

  border-top-color: #5473ae;
  border-bottom-color: #28457c;
  border-left-color: #1b355d;
  border-right-color: #235cbd;
}

.active {
  color: yellow;
}

.hidden {
  display: none;
}

.block {
  width: 370px;
  display: inline-block;
  padding-right: 15px;
  vertical-align: top;
  text-overflow: ellipsis;
}
