<div style="display: flex; height: 22px;">

    <div name="hero" style="display: inline;"></div>

    <ul>
        <li name="main">Main</li>
        <li name="attack">Attack</li>
        <li name="defense">Defense</li>
        <li name="gains">Gains</li>
        <li name="skills">Skills</li>
        <li name="bestiary">Bestiary</li>
        <li name="regions">Regions</li>

    </ul>

    <button name="createSnapshot" class="btn btn-gray btn-small">Create Stat Snapshot</button>

</div>
<div style="display: flex; height: 22px; padding-top: 3px;">
    <div name="heroLevel"></div>
    <custom-checkbox data-endpoint="data.custom.isSuperDungeon">Super
        Dungeon</custom-checkbox>
    <custom-checkbox data-endpoint="data.custom.isPowerupActive">Powerup</custom-checkbox>
</div>

<div name="content">

</div>