<template id="user-input">
    <style>
        input {
            font-size: 14px;
            font-family: "NotoSansBlack";
            margin: 0;
            padding: 0;
            padding-left: 3px;
            height: 24px;
            background-color: #777777;
            color: #01f304;
            border-style: outset;
            border-width: 2px;
            border-top-color: #525252;
            border-bottom-color: #5e5e5e;
            border-left-color: #666466;
            border-right-color: #6d6f6d;
            outline: none;
        }
    </style>
    <input type="text">
</template>