<div class="tablist" hx-target="#content" hx-swap="innerHTML">
    <button hx-get="html/data-overview.html">Overview</button>
    <button hx-get="html/data-town.html">Town</button>
    <button hx-get="html/data-talisman.html">Talisman</button>
    <button hx-get="html/data-bestiary.html">Bestiary</button>
    <button hx-get="html/data-milestone.html">Milestone</button>
    <button hx-get="html/data-upgrade.html">Upgrade</button>
    <button hx-get="html/data-expedition.html">Expedition</button>
</div>