<template id="hero-stat">
    <style>
        @import "./styles-bundle.css";
    </style>
    <div>hero-stat
        <button name="createSnapshot">Create Stat Snapshot</button>
        <button name="add">Remove Equipment Enchantment</button>
        <h3>Main Stats</h3>
        <div name="main" style="display: flex;">
            <div style="width: 350px; display: inline-block; padding-right: 15px;">
                <multiplier-info name="BasicStats0" data-type="normal">HP</multiplier-info>
                <multiplier-info name="BasicStats1" data-type="normal">MP</multiplier-info>
                <multiplier-info name="BasicStats2" data-type="normal">ATK</multiplier-info>
                <multiplier-info name="BasicStats3" data-type="normal">MATK</multiplier-info>
                <multiplier-info name="BasicStats4" data-type="normal">DEF</multiplier-info>
                <multiplier-info name="BasicStats5" data-type="normal">MDEF</multiplier-info>
                <multiplier-info name="BasicStats6" data-type="normal">SPD</multiplier-info>
                <multiplier-info name="Stats10">Move Speed</multiplier-info>
                <multiplier-info name="Stats9">Equipment Drop Chance</multiplier-info>
                <multiplier-info name="multiplier6">Equipment 1st Enchantment Slot Chance</multiplier-info>
                <multiplier-info name="multiplier6">Equipment 2nd Enchantment Slot Chance</multiplier-info>
                <multiplier-info name="multiplier6">Equipment 3rd Enchantment Slot Chance</multiplier-info>
                <multiplier-info name="equipment.effectMultiplier">Equipment Effect</multiplier-info>
            </div>
            <div style="width: 350px; display: inline-block;">
                <multiplier-info name="hpRegenerate">HP Regeneration</multiplier-info>
                <multiplier-info name="mpRegenerate">MP Regeneration</multiplier-info>
                <multiplier-info name="blessingInfo.effectMultiplier">Blessing Effect</multiplier-info>
                <multiplier-info name="SD.damageMultiplier">SD Damage Multiplier</multiplier-info>
                <multiplier-info name="SD.damageCutMultiplier">SD Damage Cut Multiplier</multiplier-info>
                <multiplier-info name="SD.sdChallengeBossDamageMultiplier">SD Challange Boss Damage
                    Multiplier</multiplier-info>
                <multiplier-info name="SD.sdChallengeBossDamageCutMultiplier">SD Challange Boss Damage Cut
                    Multiplier</multiplier-info>
                <multiplier-info name="SD.armoredFury">SD Armored Fury</multiplier-info>
                <multiplier-info name="SD.wardedFury">SD Warded Fury</multiplier-info>

            </div>


        </div>
        <h3>Attack</h3>
        <div name="attack">
            <div style="width: 350px; display: inline-block; padding-right: 15px;">
                <multiplier-info name="elementDamages0">Physical Damage</multiplier-info>
                <multiplier-info name="elementDamages1">Fire Damage</multiplier-info>
                <multiplier-info name="elementDamages2">Ice Damage</multiplier-info>
                <multiplier-info name="elementDamages3">Thunder Damage</multiplier-info>
                <multiplier-info name="elementDamages4">Light Damage</multiplier-info>
                <multiplier-info name="elementDamages5">Dark Damage</multiplier-info>
                <multiplier-info name="Stats15">Armored Fury</multiplier-info>
                <multiplier-info name="Stats16">Warded Fury</multiplier-info>
                <multiplier-info name="Stats6">Physical Critical Chance</multiplier-info>
                <multiplier-info name="Stats7">Magical Critical Chance</multiplier-info>
                <multiplier-info name="Stats8">Critical Damage</multiplier-info>
                <multiplier-info name="extraAfterDamage">Extra After Damage</multiplier-info>

            </div>



        </div>
        <h3>Defense Stats</h3>
        <div name="defense">
            <div style="width: 350px; display: inline-block; padding-right: 15px;">
                <multiplier-info name="Stats0">Fire Resistance</multiplier-info>
                <multiplier-info name="Stats1">Ice Resistance</multiplier-info>
                <multiplier-info name="Stats2">Thunder Resistance</multiplier-info>
                <multiplier-info name="Stats3">Light Resistance</multiplier-info>
                <multiplier-info name="Stats4">Dark Resistance</multiplier-info>
                <multiplier-info name="Stats5">Debuff Resistance</multiplier-info>
            </div>


        </div>
        <h3>Gain Stats</h3>
        <div name="gain">
            <div style="width: 350px; display: inline-block; padding-right: 15px;">
                <multiplier-info name="Stats14">EXP Gain</multiplier-info>
                <multiplier-info name="Stats11">Skill Proficiency Gain</multiplier-info>
                <multiplier-info name="Stats12">Equipment Proficiency Gain</multiplier-info>
                <multiplier-info name="Stats21">Artifact Proficiency Gain</multiplier-info>

            </div>


        </div>
        <h3>Bestiary</h3>
        <div name="bestiary">
            <div style="width: 350px; display: inline-block; padding-right: 15px;">
                <multiplier-info name="Stats13">Taming Point Gain</multiplier-info>
                <multiplier-info name="Stats17">Pet Base Physical Critial Chance</multiplier-info>
                <multiplier-info name="Stats18">Pet Base Magical Critial Chance</multiplier-info>
                <multiplier-info name="Stats19">Pet Base Critial Damage</multiplier-info>
                <multiplier-info name="Stats20">Pet Debuff Resistance</multiplier-info>

            </div>

        </div>
        <h3>Stats</h3>
        <div name="stats"></div>
        <h3>Regions Stats</h3>
        <div name="knowledge">
            <div style="width: 350px; display: inline-block; padding-right: 15px;">
                <multiplier-info name="monsterDamages0">Damage to Slime</multiplier-info>
                <multiplier-info name="monsterDamages1">Damage to Magicslime</multiplier-info>
                <multiplier-info name="monsterDamages2">Damage to Spider</multiplier-info>
                <multiplier-info name="monsterDamages3">Damage to Bat</multiplier-info>
                <multiplier-info name="monsterDamages4">Damage to Fairy</multiplier-info>
                <multiplier-info name="monsterDamages5">Damage to Fox</multiplier-info>
                <multiplier-info name="monsterDamages6">Damage to Devilfish</multiplier-info>
                <multiplier-info name="monsterDamages7">Damage to Treant</multiplier-info>
                <multiplier-info name="monsterDamages8">Damage to Flametiger</multiplier-info>
                <multiplier-info name="monsterDamages9">Damage to Unicorn</multiplier-info>
                <multiplier-info name="monsterDamages10">Damage to Mimic</multiplier-info>
                <multiplier-info name="monsterDamages11">Damage to Challange Boss</multiplier-info>

            </div>
        </div>

    </div>




</template>