<div>
    <div style="display: flex;">
        <div name="hero" style="display: inline;"></div>

        <ul>
            <li name="loadout0">Loadout 1</li>
            <li name="loadout1">Loadout 2</li>
            <li name="loadout2">Loadout 3</li>
            <li name="loadout3">Loadout 4</li>
            <li name="loadout4">Loadout 5</li>
            <li name="loadout5">Loadout 6</li>
            <li name="loadout6">Loadout 7</li>

        </ul>
        <custom-dialog>
            <span slot="button" class="btn btn-blue">&#9776;</span>
            <div slot="dialog" style="width: 700px;"></div>
        </custom-dialog>

    </div>
    <div name="content"></div>

</div>