<template id="multiplier-info">
    <style>
        h3 {
            margin-top: 0;
        }

        p {
            margin: 0;
            font-family: "NotoSansBlack";
        }

        .red {
            color: red;
        }

        .green {
            color: #01f304;
        }

        .tooltip {
            position: relative;
            display: inline-block;
            padding: 0;
            margin: 0;
            font-size: 12px;
            font-weight: 100;
            width: 370px;
            border-bottom-style: solid;
            border-bottom-color: #fff;
            border-bottom-width: 1px;
        }

        .tooltip .tooltip-text {
            position: absolute;
            top: 50%;
            /* transform: translateY(-50%); */
            visibility: hidden;
            left: 50%;
            margin-left: 15px;
            width: 350px;
            padding: 10px;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: left;
            z-index: 1;
            display: none;
            /* hide by default */
        }

        .tooltip:hover .tooltip-text {
            display: block;
            visibility: visible;
            background: rgba(70, 70, 70, 0.8);
        }
    </style>
    <div class="tooltip statistic">
        <span name="name">Name</span>
        <p name="value" style="float: right;">Value</p>
        <div class="tooltip-text">
            <h3 name="name-tooltip"></h3>

            <p style="text-decoration: underline; font-size: 14px;">Additive:</p>
            <div name="additive-list"></div>
            <p>Additive Total:<span name="additive-total" style="float: right;"></span></p>
            <br>
            <p style="text-decoration: underline; font-size: 14px;">Multiplicative:</p>
            <div name="multiplicative-list"></div>
            <p>Multiplicative Total: <span name="multiplicative-total" style="float: right;"></span></p>
            <br>
            <div name="superdungeon" style="display: none;">
                <p>Temporary Total: <span name="temporary-total" style="float: right;"></span></p>
                <br>
                <p><span
                        style="color: yellow; text-decoration: underline; font-size: 14px; text-decoration-color: #fff;">Super
                        Dungeon: </span><span name="temporary-total" style="float: right;"></span></p>
                <p>Base + Log10([Temporary Total])<span name="temporary-total-log" style="float: right;"></span></p>
                <br>
            </div>

            <div name="after">


                <p style="text-decoration: underline; font-size: 14px;">After:</p>
                <div name="after-list"></div>
                <p>After Total: <span name="after-total" style="float: right;"></span></p>
                <br>
            </div>
            <p style="font-size: 14px;">Total:<span name="value-total" style="float: right;"></span></p>
        </div>


    </div>




</template>