.equipment {
  font-size: 12px;
  line-height: 15px;
  width: 700px;
}
p {
  margin: 0;
}
.disabled {
  height: 100%;
  opacity: 0.4;
}

.head {
  height: 100px;
  font-size: 14px;
}

input[type="range"] {
  background-color: rgb(116, 116, 116);
}
