.tooltip {
  position: relative;
  display: inline-block;
  /* display: table-cell; */
  /* border-bottom: 1px dotted black; */
  padding: 0;
  margin: 0;
}
.tooltip .tooltip-text {
  position: absolute;

  /* vertically center */
  top: 50%;
  /* transform: translateY(-50%); */
  visibility: hidden;
  /* move to right */
  left: 100%;
  margin-left: 15px; /* and add a small left margin */
  /* opacity: 0.6; */
  /* basic styles */
  width: 700px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: left;
  z-index: 1;
  display: none; /* hide by default */
}

.tooltip .tooltip-text:before {
}

.tooltip:hover .tooltip-text {
  display: block;
  visibility: visible;
  background: rgba(0, 0, 0, 0.7);
}

.tooltip .tooltip-text td {
  text-align: left;
  vertical-align: top;
  border-style: none;
  border-width: 1px;
  border-color: rgb(108, 241, 20);
}
.tooltip .tooltip-text table {
  /* filter: none;
    opacity: 1;
    background-color: #01036e;
    z-index: 12; */
}
.tooltip .tooltip-text .equipment-heading {
  font-size: 14px;
  text-decoration: underline;
}

.statistic {
  font-size: 12px;
  font-weight: 100;
  width: 350px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
}
