<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST</title>

    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <!-- <script src="//unpkg.com/xhook@latest/dist/xhook.min.js"></script> -->
    <!-- <script src="./script.js"></script> -->
    <link href="./styles-bundle.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <h1 id="title">IEH2Calculator</h1>
            <div id="savefile">null</div>
        </div>

        <div class="sidebar" hx-target="#content">

            <button hx-get="html/equip.html" class="menu-button">Equip</button>
            <button hx-get="html/modal.html" class="menu-button">MODAL</button>
            <button hx-get="html/tab1.html" class="menu-button">Tab1</button>
            <button hx-get="html/tab2.html" class="menu-button">Tab2</button>
            <button hx-get="html/slimebank.html" class="menu-button">Slime Bank</button>
            <button hx-get="html/guild.html" class="menu-button">Guild</button>
            <button hx-get="html/settings.html" class="menu-button">Settings</button>
            <!-- <button id="expedition" class="menu-button">Expedition</button>
            <button id="anvil" class="menu-button">Anvil</button>
            <button id="gear" class="menu-button">Gear</button>

            <button id="changelog" class="menu-button">Changelog</button> -->
            <hr />
        </div>
        <div id="content" hx-get="html/tab1.html" hx-trigger="load"></div>
        <!-- <div id="content" hx-get="html/tab1.html" hx-trigger="load"></div> -->
        <div id="footer" class="footer">version: <span id="version">0.0.0</span> | <a
                href="https://github.com/pr0cessus/IEH2Calculator">Github Repository Page</a></div>
    </div>
</body>
<script src="https://unpkg.com/htmx.org@1.9.5"></script>


</html>